*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif;
    box-sizing: border-box;
    
}




header div {
    position: relative;

}

header .icon {
    position: relative;
    left: 1870px;
    top: 10px;
    
    
 }


/*Smoth scroll*/

html,
body {
  height: 100%;
  
  
  transition: 0.3s;
  scroll-behavior: smooth;
}

input[type="checkbox"]{
   display: none;

}

.bi{
    font-size: 1.3rem;
    cursor: pointer;
    
}
.bi-sun {
    color: #EBE51E;
}


.bi-moon{
    display: none;
    justify-content: right;
   
}



/*Dark Theme*/
.dark{
    background-color: #181818;
    color: #fff;
    background: #181818;
}

.dark header{
    background: #040D16;
    
}

.dark .bi-sun{
    display: none;
    
}
.dark .bi-moon{
    display: block;
}
.dark .navbar-container{
    background: #040D16;
    color: #fff;
   
}
.dark .navbar-items a{
    background-color: #0C1719;
    color: #fff;
}
.dark .navbar-items a:hover{
    background-color: #0C1719;
    color: #fff;
}

.dark .main-banner{
    
    background: #040D16;
    
    color: #fff;
    
}

.dark .main-banner h1,
.dark .main-banner p{
    
    color: #fff;
    text-shadow: #000 3px 2px 3px;
    
}
.dark .main-about {
    background: linear-gradient(#040D16 , #0C1719);
}

.dark .main-about,
.dark .main-about h2,
.dark .main-about p{
    color: #fff;
    text-shadow: #000000 3px 2px 3px;
}


.dark .meus-cursos .cursos,
.dark .meus-cursos h2{
    
    color: #fff;
    background: #0C1719;
}
.dark .curso-1,.curso-2,.curso-3,.curso-4{
    
    color: #fff;
    background: #303030;
}
.dark .cursos,
.dark .cursos a{
    
    color: #fff;
    
}

.dark .main-form {
    background: linear-gradient(#0C1719, #040D16 );
}


.dark .main-form,
.dark .main-form h3,
.dark .main-form p{
    
    color: #fff;
    text-shadow: #000000 3px 2px 3px;
}




.dark .main-contacts,
.dark .main-contacts ul,
.dark .main-contacts h4,
.dark .main-contacts li,
.dark .main-contacts a{
    
    color: #fff;
    text-shadow: #000 3px 2px 3px;
}
.dark .main-contacts {
    background: #040D16 ;
}



/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#5AAFF0;
    

}

/* NavBar*/

.navbar-container {
    width: 100%;
    height: 80px;
    padding: 0 2rem;
    color: black;
    background-color:#5AAFF0;
    
    
}

nav {
    position: relative;
}





.navbar-items {
    
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;

}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: #000000;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 7px;
    border-radius: 3px;
    
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover {
    color: #000000;
    padding: 14px 16px;
    

}





/* Main banner*/



.main-banner {
    background-position: center;
    padding: 6rem 0;
    color: white;
    text-shadow: #000000 3px 2px 3px;
    background-color: #33A4ED;
    background: linear-gradient(#5AAFF0, #33A4ED);
    
}

.main-banner h1{
    color: white;
    text-align: center;
    font-weight: bold;
    
}

.main-banner p {
    color: white;
    text-align: center;
    font-weight: bold;
    
}

.main-banner h1 {
    font-size:54px ;
}

.main-banner p {
    font-size: 32px;
}

/*About */

.main-about {
    background-color:#33A4ED ;
    padding: 10rem 0;
    font-size: 22px;
}
.main-about p {
    
    text-shadow: #000000 3px 2px 3px;
    color: white;
    text-align: center;
    font-weight: bold;
    
}
.main-about h2 {
    color: white;
    text-shadow: #000000 3px 2px 3px;
    text-align: center;
    font-weight: bold;
    
}


/*Meus cursos */
.meus-cursos h2 {
    background-color : #33A4ED;
    color: white;
    text-shadow: #000000 3px 2px 3px;
    text-align: center;
    font-weight: bold;
    
    font-size: 45px;
    padding: 40px 0;
    transition: all 0.5s;
}

.meus-cursos h2:hover {
    cursor: pointer;
    font-size: 60px;
    text-decoration:underline white;
}

/* nossos cursos  */




.cursos {
    
    display: flex;
    height: 62vh;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient( #33A4ED , #5AAFF0);
   
}

.cursos a {
    text-decoration: none;
    color: white;
    text-shadow: #000000 3px 2px 3px;
}


/* Cursos*/

.curso-1,.curso-2,.curso-3,.curso-4 {
    height: 28vh;
    text-align: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 35px;
}


/* Cursos imagens*/

.mat, .fis, .qui , .bio {
    width: 300px;
    height: 280px;
    border-radius: 10px;
    transition: all 1s;
    
}

.mat:hover, .fis:hover, .qui:hover , .bio:hover{
    cursor: pointer;
    width: 360px;
    height: 340px;
    border-radius: 10px;
    border: 5px solid white ;
}

.curso-1 h3,.curso-2 h3,.curso-3 h3,.curso-4 h3  {
    font-size: 35px;
    padding-top: 10px;
    transition: font-size 0.5s;
}

.curso-1 h3:hover ,.curso-2 h3:hover,.curso-3 h3:hover,.curso-4 h3:hover {
    cursor: pointer;
    font-size: 45px;
    text-decoration:underline #22bb5f;
    

}


/*FeedBack*/
.main-form {
    color: white;
    text-align: center;
    font-weight: bold;
    
    padding: 2rem 0;
    font-size: 22px;
    background-color:#5AAFF0;
}

.main-form h3 {
    color: white;
    text-shadow: #000000 3px 2px 3px;
    text-align: center;
    font-weight: bold;
    
}

.main-form p {
    color: #000000;
    text-align: center;
    font-weight: bold;
    
}
.main-form .feedback{
    
     
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 8em;
    resize: vertical;
    
}

/*Contatos*/


.main-contacts {
    background-color:#5AAFF0;
    padding: 2rem 0;
    font-size: 15px;
}
.main-contacts ul {
    color: #000000;
    text-align: center;
    font-weight: bold;
    
}
.main-contacts h4 {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-shadow: #000000 3px 2px 3px;
}
.main-contacts p {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-shadow: #000000 3px 2px 3px;
    text-align: center;
}
.main-contacts a {
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-decoration: none;
    text-shadow: #000000 3px 2px 3px;
    margin-right: 50px;
    
}
span{
    margin-right: 40px;
}




